<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.proyecto.proyect_games">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyect_Games">
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CatalogActivity"
            android:label="Catálogo de Juegos" />
        <activity
            android:name=".blackjack.Blackjack_Activity"
            android:exported="false"
            android:label="Blackjack Game" />
        <activity
            android:name=".brickbreaker.BrickBreacker_Activity"
            android:exported="false"
            android:label="Brick Breaker Game"
            android:screenOrientation="portrait" />
        <activity
            android:name=".snake.Snake_Activity"
            android:exported="false"
            android:label="Snake Game"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clicks123.Click123_Activity"
            android:exported="false"
            android:label="Clicks123 Game" />
        <activity
            android:name=".pacman.Pacman_Activity"
            android:exported="false"
            android:label="Pacman Game" />
        <activity
            android:name=".ruleta.Ruleta_Activity"
            android:exported="false"
            android:label="Ruleta Game" />
        <activity
            android:name=".solitario.Solitario_Activity"
            android:exported="false"
            android:label="Solitario Game" />
        <activity
            android:name=".sudoku.Sudoku_Activity"
            android:exported="false"
            android:label="Sudoku Game" />
    </application>

</manifest>